{
    "presets": [
        ["@babel/preset-env", {
                "loose": true,
                "targets": {
                    "chrome": "58",
                    "ie": "8"
                }
            }
        ], "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}